/* 
    Created on : 2 juin 2016, 15:28:32
    Author     : jeremie
*/

.articleLink {
    text-align: left;
    font-size: 15px;
    color: #eb9316;
    padding-top: 3px;
    padding-bottom: 3px;
}

.articleContent {
    text-align: justify;
    color: #222;
    font-size: 16px;
}

.articleTitle {
    text-align: left;
    color: #265a88;
    font-size: 20px;
}

.credits {
    text-align: right;
}

.rssFeedContent {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#articleSummaryDivision {
    background-color: #eaeaea;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border: 1px #cacaca solid;
    border-radius: 10px;
}

#header {
    margin: 20px 0px 20px 0px;
}

#logo {
    text-align: center;
    padding-top: 20px;
}