/* 
    Created on : 2 juin 2016, 15:28:32
    Author     : jeremie
*/

.articleList {
    text-align: left;
    font-size: 12px;
    color: #eb9316;
}

.articleContent {
    text-align: justify;
    color: #222;
    font-size: 16px;
}

.articleTitle {
    text-align: left;
    color: #265a88;
    font-size: 20px;
}

.credits {
    text-align: right;
}

.rssFeedContent {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}